.nav{
    width: 40.375rem;
    height: 5.4375rem;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    list-style: none;
    margin-right: 3rem;
    color:aliceblue;
    background-color: rgba(240, 248, 255, 0);
    right: 8.44rem;
    position: absolute;
}

.ul li {
    display: flex;
    width: 6.875rem;
    height: 2.6875rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
}

a {
    color: aliceblue;
    padding: 5px 10px;
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0C3DA5;

  }
  